
# Created by https://www.gitignore.io/api/eclipse
# Edit at https://www.gitignore.io/?templates=eclipse

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

### Eclipse Patch ###

# vs code
.vscode

# binary
# *.ld
*.o
*.d

#build
Debug/*.elf
Debug/*.hex
Debug/*.map

#Circuits
Circuits/*.s\#*
Circuits/*.lck


RemoteSystemsTempFiles/*

# End of https://www.gitignore.io/api/eclipse
